.category-img {
  background: #eef0f5;
  max-width: 100%;
  height: 160px;
  object-fit: cover;
}

.shop-category {
  padding: 20px 20px 20px;
  margin-bottom: 50px;
}
.shop-category:hover {
  border: 1px solid #00838d;
}
.card-body {
  text-align: center;
}

.forward {
  cursor: pointer !important;
}
