body {
  margin: 0;
  font-family: "Lato" ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  font-family: "Lato",sans-serif !important;
}

code {
  font-family: "Lato",sans-serif
}
