.border {
  border-width: 0.2rem 0.2rem 0;
  border-radius: 8px 8px 0 0;
  border: 0.2rem solid #ececec;
}
.item-list {
  padding: 24px 16px;
}

.item-img {
  background: #eef0f5;
  max-width: 100%;
  height: 160px;
  object-fit: scale-down;
}

.shop-item {
  padding: 20px 20px 20px;
  margin-bottom: 50px;
  cursor:pointer
}
.shop-item:hover {
  border: 1px solid #00838d;
}
.card-body {
  text-align: center;
}
.item-body{
      text-align: start;
    word-break: break-word;
}
.flex-container{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.size{
  height:2.5rem;
  width:2.5rem
}
.button{
  border-radius: 25px;
}