.searchInput{
    height: 41px !important;
    border: 1px solid #cfcaca !important ;
    border-radius: 0px !important;
    padding: 25px !important;
    font-size: 16px !important;
    outline: none !important;
    box-shadow: none !important;
}
.borderRightNone{
    border-right: none !important;
}
.borderButton{
    border: 1px solid #cfcaca !important;
    border-left: none !important;
    font-size: 14px !important;
    padding-right: 14px !important;
    font-weight: 700 !important;
    outline: none !important;
    box-shadow: none !important;

}
.borderButton:hover,.borderButton:active{
    background-color: white !important;
    color: black !important; 
}